{% extends "layout.jinja2" %} 

{% block content%}
<div class="content">

    <h1>
        <span class="font-semi-bold">Welcome to TC-Scrapper</span><br><br>
        <span class="smaller">Please Enter Wikipedia Page URL</span><br><br>
        <span class="smaller">
            <form id="scrap-form" action="/scrap" method="post">
                <input type="text" id="scrapwiki" name="scrapwiki" required >
                <input type="submit" id="submit-bottom">
            </form>
        </span>

    </h1>

</div>
{% endblock content %}
